.input-box {
    background: #091833;
    width:50vw;
    border: 0px;
    color:#0abdc6;
}

input[type="text"]
{
    font-size:16px;
}

.input-box:focus {
    border:0px;
    outline:none;
}

.main-page-command-name {
    color:#ea00d9;
}

.main-page-command-location {
    color:#1a57ac;
}